.help {
  margin-right: 15px;
  cursor: pointer;
}
.help-box {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  display: flex;
}
.help-content {
  background-color: white;
  padding: 25px;
  position: relative;
}
.help-content > span {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.help-content > ul {
  list-style-type: disc;
  margin-left: 50px;
}
.help-content > h2 {
  margin: 15px 0px;
}