.mastery {
    display: flex;
    flex-direction: column;
    width: 80px;
    align-items: center;
    margin: 0px 15px;
}
.mastery:first-of-type {
    order: 1;
}
.mastery:last-of-type {
    order: 3;
}

.mastery:first-of-type > .legend {
    width: 100%;
}
.legend {
    border-radius: 50%;
    width: 80%;
}
.emblem {
    width: 60px;
}