.match {
    height: 130px;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--border);
    width: 100%;
}
.result{
    width: 15px;
    height: 80%;
    background-color: var(--red);
}
.result.win {
    background-color: var(--green);
}
.participants {
    font-size: 0.8rem;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    margin-left: auto;
}
.participants > li {
    overflow: hidden;
    height: 20%;

    display: flex;
    align-items: center;
    width: 150px;
}
.participants > li > img {
    width: 21px;
    margin-right: 5px;
}

.items {
    display: flex;
}
.items > li {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.main-champ {
    position: relative;
}
.main-champ > img {
    width: 46px;
    border-radius: 50%;
}
.main-champ > div {
    color: white;
    background-color: black;
    position: absolute;
    right: 1px;
    bottom: 2px;
    border-radius: 50%;
    font-size: 0.8rem;
    height: 17px;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-info {
    text-align: center;
    margin: 0px 20px;
    width: 130px;
}
.stats {
    width: 80px;
    margin-left: 15px;
}
.kda {
    text-align: center;
    width: 60px;
}
.runes {
    position: relative;
    margin: 0px 30px 0px 15px;
    height: 32px;
}
.runes > img {
    width: 32px;
    border-radius: 50%;
}
.runes > img:last-of-type {
    width: 15px;
    padding: 2px;
    position: absolute;
    bottom: -5px;
    right: -5px;
}
.spells {
    display: flex;
    margin-left: 15px;
}
.spells > img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}