.match {
    height: 130px;
    display: flex;
    align-items: center;
    width: 100%;
}
.result{
    width: 15px;
    height: 80%;
    background-color: var(--red);
    
}
.main-legend {
    position: relative;
}
.main-legend > img {
    width: 46px;
    border-radius: 50%;
}
.main-legend > div {
    color: white;
    background-color: black;
    position: absolute;
    right: 1px;
    bottom: 2px;
    border-radius: 50%;
    font-size: 0.8rem;
    height: 17px;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}